body{
    padding: 0%;
    margin: 0%;
}
.left-side{
    background-color: rgb(255, 255, 255);
    float: left;
    height: 100vh;
    width: 20%;
    padding-top: 5px;
}
.right-side{
    background-color: rgb(226, 226, 238);
    float: right;
    height: 100vh;
    width: 80%;
    
}
.list-style{
    list-style-type: none;
}
.flot_left1{
    float: left;
    width:50%;
    background-color: rgb(255, 255, 255);
    height: 100vh;
}
.flot_left2{
    float: left;
    width: 50%;
    background-color:rgb(255, 255, 255) ;
    height: 100vh;
}
p{
    font-size: 20px;
}
button{
    font-size: x-large;
    box-shadow: -3px 3px 8px 2px;
    color: gray;
}
li{
    font-size: 20px;
}
@media(max-width:600px){
    .left-side{
        display: none;
    }
}
.img{
    float: right;
}
/* @media(max-widht:600px){
    .right-side{
        display: none;
    }
} */
