
body{
    margin: 0%;

}
.floatleft{
    float: left;
    height: 985px;
    width: 50%;
    background-color:whitesmoke;

}
.img1{
    width: 100%;

}
p{
    padding-top: 80px;
    padding-left: 115px;
    font-size: 27px;

}
button{
    background-color: black;
    height: 35px;
    width:80px;
    color: white;

}
h3{
    padding-left: 115px;

}
.floatright{
    float: right;
    height: 985px;
    width: 50%;
    background-color:whitesmoke;
    position: relative;
}
.img2{
    height: 500px;
    position:absolute;
    right: 100px;
    top: 200px;

}
@media(max-width:600px){
    .floatleft{
        width: 100%;
    }
    .floatright{
        width: 100%;
        float: left;
        background-color: whitesmoke;
       
    }
}